@charset 'utf-8';

.slider{

}
.slider-slides{
	position: relative;
}
.slider-slide{
	position: absolute;
	top: 0;
	left: 0;
}
.slider-slide img{
	width: 100%;
	height: auto;
}
.slider:hover{
	cursor: pointer;
}
.slider.is-left{
	cursor: url(/assets/images/slider/ico_arrow_left.png), pointer;
}
.slider.is-right{
	cursor: url(/assets/images/slider/ico_arrow_right.png), pointer;
}
